/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/

/Build/**
!/Build/**/
!/Build/**/*.ico
!/Build/**/*.png
!/Build/**/*.xml
!/Build/**/*.ini
!/Build/**/*.plist
!/Build/**/PakBlacklist*.txt

/Plugins/**/Intermediate/
/Plugins/**/Saved/

*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.VC.VC.opendb
*.xcodeproj
*.xcworkspace
.vsconfig

.vs/
*.rsuser
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.ipch

.vscode/
.idea/

*.log
*.tmp
*.binlog

/[Dd]ebug/
/[Dd]ebugPublic/
/[Rr]elease/
/[Rr]eleases/
/x64/
/x86/
/[Ww][Ii][Nn]32/
/[Aa][Rr][Mm]/
/[Aa][Rr][Mm]64/
/bld/

*.obj
*.o
*.lo
*.slo
*.pch
*.gch

*.nupkg
*.snupkg
packages/
!packages/build/
*.nuget.props
*.nuget.targets

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

*.lnk

.DS_Store
